@model Mycloth_website.Models.FrunitureCategory
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie store</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <style>
    </style>
</head>

<body style="background-color:aliceblue">
    <div class='productdisplay'>
        <div class="productdisplay-left">
            <div class="productdisplay-img">
                <img class='productdisplay-main-img' src="~/Assets/@Model.ProductImage" alt="" />
            </div>
        </div>
        <div class="productdisplay-right">
            <h1>@Model.ProductName</h1>
            <div class="productdisplay-right-stars">
                <img src="~/Assets/star_icon.png" alt="" />
                <img src="~/Assets/star_icon.png" alt="" />
                <img src="~/Assets/star_icon.png" alt="" />
                <img src="~/Assets/star_icon.png" alt="" />
                <img src="~/Assets/star_dull_icon.png" alt="" />
                <p>(122)</p>
            </div>
            <div class="productdisplay-right-prices">
                <div class="productdisplay-right-price-old">@Model.ProductPrice</div>
                <div class="productdisplay-right-price-new">@Model.DicountProductPrice</div>
            </div>
            <div class="productdisplay-right-description">
                A lightweight, usually knitted, pullover shirt, close-fitting and with a round neckline and short sleeves, worn as an undershirt or outer garShoest.
            </div>
            <div class="productdisplay-right-size">
                <h1>Select Size</h1>
                <div class="productdisplay-right-sizes">
                    <div>S</div>
                    <div>M</div>
                    <div>L</div>
                    <div>XL</div>
                    <div>XXL</div>
                </div>
            </div>
            <button class="btn btn-link text-white">
                <a href="/Home/FrunitureSave/@Model.ProductId" class="text-white" style="text-decoration: none;">ADD TO CART</a>
            </button>
            <p class='productdisplay-right-category'><span>Category :</span>Women, T-Shirt, Crop Top</p>
            <p class='productdisplay-right-category'><span>Tags :</span>Modern, Latest</p>
        </div>
    </div>

</body>
</html>
