/* Style for the form */

.form-horizontal {
    align-content: center;
    width: 500px;
    margin-top:50px;
    margin-left:600px;
}
.container {
    align-content: center;
    width: 100px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-weight: bold;
}

/* Style for the submit button */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.row {
    padding: 20px;
}
input {
    background-color: orangered;
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.back {
    align-content: center;
    width: 500px;
    margin-top: 50px;
    margin-left: 600px;
    margin-bottom: 100px;
}
